*
{
    padding: 0px;
    margin: 0px;
}


body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 577;
  font-style: normal;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.navbar-links{
    display: flex;
    column-gap: 20px;
}
.navbar-links a{
    text-decoration: none;
    color: #1d232c;
}
.navbar-links a:hover{
    text-decoration: underline;
}
.navbar-menu-toggle{
    display: none;
}


/*menu toggle*/

@media screen and (max-width:700px) {
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display:none ;
    }
    .header-image{
        display: none;
    }
    .service-container1{
        display: none;
    }
    .service-container2{

        flex-direction: column;   
     }
}
.side-navbar{
    background-color: #1d232c;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 1s;
    
}
.sidenavbar-link{
    margin-bottom: 30px;
    }
.sidenavbar-link a{
    text-decoration: none;
    color: white;
}
.sidenavbar-link a:hover{
    text-decoration: underline;
}

/*Header*/
.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding:50px;
    
}
.header-button{
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}
.service{
    padding: 20px;
    
}
.service-container1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.service-container2{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin-top: 5px;

}
.service-container2 div{
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 20px;
}
.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}
.new-arrival-container button{
    padding: 15px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    margin: 3px;
    padding-left: 10px;
    position: absolute;
    bottom: 20%;
    left:20%
}
.newhead{
    padding: 20px;
}
.newsletter{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color:#1d232c;
    padding: 20px;
    align-items: center;
}
.newsletter input{
    padding: 11px;
    width: 80vw;
    border: solid black 3px;
    margin-top: 10px;
}
.newsletter button{
    padding: 10px;
    background-color: #1d232c;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
.footer{
    background-color: #1d232c;
    color: white;
    padding: 40px;
    margin-top: 20px;

}
.footer-box-1{
    padding: 20px;
}
.footer-icon{
    padding-left: 20px;
}
.product-section{
    margin-top: 20px;

}
.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}
.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;

}
.product-search input:focus{
    outline: none;
}
.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    }
.product-box{
    text-align: center;
    flex-basis: 20%;
    
}
.product-box img{
    border-radius: 10px;
}